.stat-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
  margin-top: 0.5rem;
  padding: 0 0px;
}


.stat-btn {
  padding: 6px 4px;
  font-size: 13px;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  height: 36px;
}


.stat-btn.selected {
  background-color: #333;
  color: white;
}
